form {
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    background: #232432;
    margin: 30px 40px;
    padding: 20px;
}

a {
    color: white;
    text-decoration: none;
    font-size: large;
}

input {
    color: black;
}

.pure-control-group {
    margin-bottom: 15px;
}

.form {
    background: #232432;
    color: white;
    padding: 10px 0;
}

.login-link{
    color:white;
    text-align: center;
}

