@import url('https://fonts.googleapis.com/css?family=Bitter|Roboto&display=swap');

.App {
  background-color: #191D37 ;
  background-image: url('https://i.imgur.com/QHWwH4G.png');
  background-repeat: no-repeat;
  background-origin: border-box;
  background-attachment: fixed;
  background-size: auto;
  /* border: 1px pink solid; */
  font-family: 'Roboto', serif;
  padding:30px 0;
  margin: 0 auto;
  max-width: 500px;
  width: 100%;
  text-align: left;
}

.body{
  /* background: #191D37 ; */
}

.selected {
  /* background: rgb(128, 139, 216) ; */
  color: white;
  /* border-radius: 75%; */
  /* padding: 8px 5px; */
  /* width: 20px; */
}
/* 
light pink: #efe3e1
font: #191d37
dark-pink: #b07568
light-blue: #Acb2d8
 */

.stacked{
  display: flex;
    justify-content: center;
    font-size: 1.2rem;
}

fieldset {
  display: flex;
  flex-direction: column;
}

label {
  color: #efe3e1;
}