@import url('https://fonts.googleapis.com/css?family=Bitter|Roboto&display=swap');

.App {
  background-color: #191D37 ;
  background-image: url('https://i.imgur.com/QHWwH4G.png');
  background-repeat: no-repeat;
  background-origin: border-box;
  background-attachment: fixed;
  background-size: auto;
  font-family: 'Roboto', serif;
  padding:30px 0;
  margin: 0 auto;
  max-width: 500px;
  width: 100%;
  text-align: left;
}

/* HOME COMPONENT */
.react-calendar {
  width: 350px;
  max-width: 100%;
  background: white;
  border: 5px solid #B07568;
  border-radius: 3px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;

}

.react-calendar__tile--active {
  background: #006edc;
  background-color: red;
  /* font-size: 30px */
}

.rv-xy-plot__axis__tick__line {
  stroke: transparent;
  stroke-width: 0px;
}

/* .rv-xy-plot__series--line {
  fill: none;
  stroke: white;
  stroke-width: 6px;
} */

.rv-xy-plot__grid-lines {
  background: red;
}

.CircularProgressbar .CircularProgressbar-path {
  stroke: green;
  stroke-linecap: round;
  transition: stroke-dashoffset 0.5s ease 0s;
}

label {
  color: #efe3e1;
}