@import url("https://fonts.googleapis.com/css?family=Bitter|Roboto&display=swap");

.App {
  background-color: #191d37;
  background-image: url("https://i.imgur.com/QHWwH4G.png");
  background-repeat: no-repeat;
  background-origin: border-box;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Roboto", serif;
  padding: 30px 0;
  margin: 0 auto;
  max-width: 500px;
  width: 100%;
  text-align: left;
  letter-spacing: 1px;
}

.sign-up{
  height: 100vh;
}

.lp-margin{
  margin-right:3.5px;
}

/* HOME COMPONENT */
.react-calendar {
  width: 350px;
  max-width: 100%;
  background: white;
  border: 5px solid #b07568;
  border-radius: 3px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}

.react-calendar__tile--active {
  background: #006edc;
  background-color: red;
  /* font-size: 30px */
}

.rv-xy-plot__axis__tick__line {
  stroke: transparent;
  stroke-width: 0px;
}

/* .rv-xy-plot__series--line {
  fill: none;
  stroke: white;
  stroke-width: 6px;
} */

.rv-xy-plot__grid-lines {
  background: red;
}

.CircularProgressbar .CircularProgressbar-path {
  stroke: green;
  stroke-linecap: round;
  transition: stroke-dashoffset 0.5s ease 0s;
}

.sleep-history {
  height: 100vh;
}

/* SleepEntryCard */
.card-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

/* SleepEntryForm */
.sleep-entry-form{
  height: 100vh;
}

.SleepEntryCard {
  color: white;
  display: flex;
  flex-direction: column;
  margin: 40px 0 30px;
  height: 100vh;
}

.titles{
  color: #d0c9b4;
}

.card-title {
  color: #edebe3;
  font-family: "Bitter", serif;
  margin-bottom: 30px;
}

.bed-and-sleep {
  background-color: #191d37;
  padding: 35px;
}

/* Top of card */
.top-container {
  display: flex;
  justify-content: space-evenly;
}

.card-margin {
  margin: 40px 0;
}

.emojis {
  margin-left: 30px;
  margin-top: 2px;
}

/* Bottom of card */
.circle-container {
  color: #d0c9b4;
  margin: 40px auto;
  text-align: center;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
}

/* Card Buttons */
.card-links {
  margin: 10px auto;
}

.card-edit {
  background: #93875c;
  border: none;
  border-radius: 5px;
  color: #191d37;
  font-weight: bold;
  padding: 8px 5px;
  text-align: center;
  width: 140px;
}

.card-delete {
  background: #dadbe2;
  border: none;
  border-radius: 5px;
  color: #191d37;
  font-weight: bold;
  padding: 8px 5px;
  text-align: center;
  width: 140px;
}
